<div class="modal-header align-middle">
    <h4 class="modal-title">เพิ่มข้อมูลเช็ค</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeBtn()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 mt-2 text-right"><label>เลขที่เช็ค : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.cheque_no" class="form-control" placeholder="กรุณากรอกเลขที่เช็ค" />
        </div>
    </div>
    <div *ngIf="submitted && !form.cheque_no" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณากรอกเลขที่เช็ค !</div>
    </div>
    <div *ngIf="submitted && error.cheque_no" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณากรอกตัวเลข !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>ชื่อลูกค้า : </label></div>
        <div class="col-md-6">
            <mat-form-field class="customer_field">
                <input type="text" [formControl]="customer" placeholder="กรุณาเลือกชื่อลูกค้า" class="form-control" matInput [matAutocomplete]="customerAuto">
                <mat-autocomplete #customerAuto="matAutocomplete">
                    <mat-option *ngFor="let option of customerFilter | async" [value]="option.text">
                        {{ option.text }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="submitted && !form.customer_id" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณาเลือกชื่อลูกค้า !</div>
    </div>
    <div *ngIf="submitted && error.customer_id" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">ไม่พบชื่อลูกค้าที่เลือก !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>ธนาคาร : </label></div>
        <div class="col-md-6">
            <select [(ngModel)]="form.bank_id" (change)="onChangeBankName()" class="form-control">
                <option value="" disabled>--- กรุณาเลือก ---</option>
                <option value="{{ option.value }}" *ngFor="let option of bankOptions">{{ option.text }}</option>
            </select>
        </div>
    </div>
    <div *ngIf="submitted && !form.bank_id" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณากรอกธนาคาร !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>สาขา : </label></div>
        <div class="col-md-6">
            <select [(ngModel)]="form.branch_id" class="form-control" [disabled]="!branchOptions || branchOptions.length === 0">
                <option value="" disabled>--- กรุณาเลือก ---</option>
                <option value="{{ option.value }}" *ngFor="let option of branchOptions">{{ option.text }}</option>
            </select>
        </div>
    </div>
    <div *ngIf="submitted && !form.branch_id" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณากรอกสาขา !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>เดือน : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.month" class="form-control" placeholder="กรุณากรอกเดือน" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>จำนวนเงิน : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.amount" class="form-control" placeholder="กรุณากรอกจำนวนเงิน" />
        </div>
    </div>
    <div *ngIf="submitted && !form.amount" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณากรอกจำนวนเงิน !</div>
    </div>
    <div *ngIf="submitted && error.amount" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณากรอกตัวเลข !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>วันที่หน้าเช็ค : </label></div>
        <div class="row col-md-6">
            <div class="col-md-11 pr-0 mr-0">
                <mat-form-field>
                    <input [(ngModel)]="form.pending_date" matInput 
                        (click)="pending_date.open()"
                        class="form-control" 
                        placeholder="กรุณาเลือกวันที่หน้าเช็ค" 
                        [matDatepicker]="pending_date" readonly>
                    <mat-datepicker #pending_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-1 pl-0 ml-0"><mat-datepicker-toggle matSuffix [for]="pending_date"></mat-datepicker-toggle></div>
        </div>
    </div>
    <div *ngIf="submitted && !form.pending_date" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">กรุณาเลือกวันที่หน้าเช็ค !</div>
    </div>
</div>
<div class="modal-footer">
    <div class="p-0 col-md-2">
        <button type="button" class="btn btn-default" style="border: 1px solid #cccccc; width: 100%;" (click)="closeBtn()">ปิด</button>
    </div>
    <div class="p-0 col-md-2">
        <button type="button" class="btn-submit" (click)="saveBtn()">บันทึก</button>
    </div>
</div>