<div class="header content">
    <div class="row mr-1">
        <div class="col-md-12 text-right">
            <b>ยินดีต้อนรับ !</b> {{ userInfo?.username || 'ผู้ใช้งาน' }}
        </div>
    </div>
    <div class="row mr-1">
        <div class="col-md-12 mt-1 text-right">
            <span (click)="logout()" class="logout-link">ออกจากระบบ</span>
        </div>
    </div>
</div>
<div class="menu content">
    <div routerLink="/" class="row no-focus">
        <div class="col-md-12 text-center mb-4 ml-3" class="logo-container">
            <img class="logo ml-3 mb-3" src="../../../assets/logo.png" />
        </div>
    </div>
    <!-- <div class="row">
        <div *ngIf="permission.includes('dashboard')" (click)="menuLink(types.dashboard)" class="menu-item p-3" [ngClass]="{ 'active': active === types.dashboard }">
            รายงาน
        </div>
    </div> -->
    <div class="row">
        <div *ngIf="permission.includes('cheque')" (click)="menuLink(types.cheque)" class="menu-item p-3" [ngClass]="{ 'active': active === types.cheque }">
            เช็คที่เก็บลูกค้ามา
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('cheque')" (click)="menuLink(types.wait_cheque)" class="menu-item p-3" [ngClass]="{ 'active': active === types.wait_cheque }">
            วันที่นำเช็คเข้า
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('cheque')" (click)="menuLink(types.approve_cheque)" class="menu-item p-3" [ngClass]="{ 'active': active === types.approve_cheque }">
            วันท่ีเช็คผ่าน
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('transfer')" (click)="menuLink(types.transfer)" class="menu-item p-3" [ngClass]="{ 'active': active === types.transfer }">
            ลูกค้าที่ใช้การโอน
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('transfer')" (click)="menuLink(types.transferred)" class="menu-item p-3" [ngClass]="{ 'active': active === types.transferred }">
            ลูกค้าที่โอนแล้ว
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('financial')" (click)="menuLink(types.financial)" class="menu-item p-3" [ngClass]="{ 'active': active === types.financial }">
            ตรวจสอบการเงิน
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('financial')" (click)="menuLink(types.financial_memo)" class="menu-item p-3" [ngClass]="{ 'active': active === types.financial_memo }">
            ลงบันทึกการเงินจากเช็คและการโอน
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('bank')" (click)="menuLink(types.bank)" class="menu-item p-3" [ngClass]="{ 'active': active === types.bank }">
            ธนาคาร
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('customer')" (click)="menuLink(types.customer)" class="menu-item p-3" [ngClass]="{ 'active': active === types.customer }">
            ลูกค้า
        </div>
    </div>
</div>
<div *ngIf="userInfo" class="page content">
    <div class="page-content">
        <!-- <app-dashboard *ngIf="active === types.dashboard"></app-dashboard> -->
        <app-cheque *ngIf="active === types.cheque"></app-cheque>
        <app-waiting-cheque *ngIf="active === types.wait_cheque"></app-waiting-cheque>
        <app-approve-cheque *ngIf="active === types.approve_cheque"></app-approve-cheque>
        <app-transfer *ngIf="active === types.transfer"></app-transfer>
        <app-transferred *ngIf="active === types.transferred"></app-transferred>
        <app-financial *ngIf="active === types.financial"></app-financial>
        <app-financial-memo *ngIf="active === types.financial_memo"></app-financial-memo>
        <app-customer *ngIf="active === types.customer"></app-customer>
        <app-bank *ngIf="active === types.bank"></app-bank>
    </div>
</div>