<div class="header content">
    <div class="row mr-1">
        <div class="col-md-12 text-right">
            <b>Welcome !</b> {{ userInfo?.username || 'User' }}
        </div>
    </div>
    <div class="row mr-1">
        <div class="col-md-12 mt-1 text-right">
            <span (click)="logout()" class="logout-link">Logout</span>
        </div>
    </div>
</div>
<div class="menu content">
    <div routerLink="/" class="row">
        <div class="col-md-12 text-center mb-4 ml-3">
            <img class="logo" src="../../../assets/logo.png" />
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('dashboard')" (click)="menuLink(types.dashboard)" class="menu-item p-3" [ngClass]="{ 'active': active === types.dashboard }">
            Dashboard
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('cheque')" (click)="menuLink(types.cheque)" class="menu-item p-3" [ngClass]="{ 'active': active === types.cheque }">
            Cheque
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('bank')" (click)="menuLink(types.bank)" class="menu-item p-3" [ngClass]="{ 'active': active === types.bank }">
            Bank
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('customer')" (click)="menuLink(types.customer)" class="menu-item p-3" [ngClass]="{ 'active': active === types.customer }">
            Customer
        </div>
    </div>
    <!-- <div class="row">
        <div *ngIf="permission.includes('transaction')" (click)="menuLink(types.transaction)" class="menu-item p-3" [ngClass]="{ 'active': active === types.transaction }">
            Transaction
        </div>
    </div> -->
    <div class="row">
        <div *ngIf="permission.includes('account')" (click)="menuLink(types.account)" class="menu-item p-3" [ngClass]="{ 'active': active === types.account }">
            Account
        </div>
    </div>
    <div class="row">
        <div *ngIf="permission.includes('transfer')" (click)="menuLink(types.cash)" class="menu-item p-3" [ngClass]="{ 'active': active === types.cash }">
            Cash
        </div>
    </div>
</div>
<div *ngIf="userInfo" class="page content">
    <div class="page-content">
        <app-dashboard *ngIf="active === types.dashboard"></app-dashboard>
        <app-cheque *ngIf="active === types.cheque"></app-cheque>
        <app-customer *ngIf="active === types.customer"></app-customer>
        <app-bank *ngIf="active === types.bank"></app-bank>
        <!-- <app-transaction *ngIf="active === types.transaction"></app-transaction> -->
        <app-account *ngIf="active === types.account"></app-account>
        <app-cash *ngIf="active === types.cash"></app-cash>
    </div>
</div>