<div class="modal-header">
    <h4 class="modal-title">Add Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeBtn()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 mt-2 text-right"><label>Name : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.name" class="form-control" placeholder="Enter Name" />
        </div>
    </div>
    <div *ngIf="submitted && !form.name" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">Name is required !</div>
    </div>
    <div class="row mt-2 mt-2">
        <div class="col-md-4 mt-2 text-right"><label>Lastname : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.lastname" class="form-control" placeholder="Enter Lastname" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>Mobile No. : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.mobile" class="form-control" placeholder="Enter Mobile No." />
        </div>
    </div>
    <div *ngIf="submitted && error.mobile" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">Accept only number !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>Expect Amount : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.expect_amount" class="form-control" placeholder="Enter Expect Amount" />
        </div>
    </div>
    <div *ngIf="submitted && error.expect_amount" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">Accept only number !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>Actual Amount : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.actual_amount" class="form-control" placeholder="Enter Actual Amount" />
        </div>
    </div>
    <div *ngIf="submitted && error.actual_amount" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">Accept only number !</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-2 text-right"><label>Due Date : </label></div>
        <div class="row col-md-6">
            <div class="col-md-11 pr-0 mr-0">
                <mat-form-field>
                    <input [(ngModel)]="form.due_date" [min]="today" matInput class="form-control" placeholder="Choose Due Date" [matDatepicker]="due_date" readonly>
                    <mat-datepicker #due_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-1 pl-0 ml-0"><mat-datepicker-toggle matSuffix [for]="due_date"></mat-datepicker-toggle></div>
        </div>
    </div>
    <ng-container *ngFor="let account of form.accounts; let i = index;">
        <div class="row mt-2 m-0">
            <div class="col-md-1"></div>
            <div class="col-md-10 account-head p-2 pl-3">Account {{ i + 1 }}
                <img *ngIf="form.accounts.length > 1" src="../../../../../assets/delete.png" (click)="removeAccount(i)" 
                    class="pr-2" style="cursor: pointer; float: right;" />
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-1"></div>
            <div class="col-md-3 mt-2 text-right"><label>Account No. : </label></div>
            <div class="col-md-6">
                <input [(ngModel)]="form.accounts[i].account_no" class="form-control" placeholder="Enter Account No." />
            </div>
        </div>
        <div *ngIf="submitted && !form.accounts[i].account_no" class="row p-0 mx-0">
            <div class="col-md-4"></div>
            <div class="col-md-6 error-text">Account No. is required !</div>
        </div>
        <div class="row m-0 p-0" *ngIf="submitted && form.accounts[i].account_no && error_account[i].amount">
            <div class="col-md-4"></div>
            <div class="col-md-6 error-text">Accept only number !</div>
        </div>
        <div class="row p-2">
            <div class="col-md-1"></div>
            <div class="col-md-3 mt-2 text-right"><label>Account Name : </label></div>
            <div class="col-md-6">
                <input [(ngModel)]="form.accounts[i].account_name" class="form-control" placeholder="Enter Account Name" />
            </div>
        </div>
        <div *ngIf="submitted && !form.accounts[i].account_name" class="row p-0 mx-0">
            <div class="col-md-4"></div>
            <div class="col-md-6 error-text">Account Name is required !</div>
        </div>
        <div class="row p-2">
            <div class="col-md-1"></div>
            <div class="col-md-3 mt-2 text-right"><label>Bank Name : </label></div>
            <div class="col-md-6">
                <select [(ngModel)]="form.accounts[i].bank_id" (change)="onChangeBank(i)" class="form-control">
                    <option value="" disabled>--- Select One ---</option>
                    <option value="{{ option.value }}" *ngFor="let option of bankOptions[i]">{{ option.text }}</option>
                </select>
            </div>
        </div>
        <div *ngIf="submitted && !form.accounts[i].bank_id" class="row p-0 mx-0">
            <div class="col-md-4"></div>
            <div class="col-md-6 error-text">Bank Name is required !</div>
        </div>
        <div class="row p-2">
            <div class="col-md-1"></div>
            <div class="col-md-3 mt-2 text-right"><label>Branch Name : </label></div>
            <div class="col-md-6">
                <select [(ngModel)]="form.accounts[i].branch_id" class="form-control" [disabled]="!branchOptions[i] || branchOptions[i].length === 0">
                    <option value="" disabled>--- Select One ---</option>
                    <option value="{{ option.value }}" *ngFor="let option of branchOptions[i]">{{ option.text }}</option>
                </select>
            </div>
        </div>
        <div *ngIf="submitted && !form.accounts[i].branch_id" class="row p-0 mx-0">
            <div class="col-md-4"></div>
            <div class="col-md-6 error-text">Branch Name is required !</div>
        </div>
        <div *ngIf="i === form.accounts.length - 1" class="row p-2">
            <div class="col-md-9"></div>
            <div class="col-md-2">
                <button (click)="addAccount()" class="btn-submit">+</button>
            </div>
        </div>
    </ng-container>
</div>
<div class="modal-footer">
    <div class="p-0 col-md-2">
        <button type="button" class="btn btn-default" style="border: 1px solid #cccccc; width: 100%;" (click)="closeBtn()">Close</button>
    </div>
    <div class="p-0 col-md-2">
        <button type="button" class="btn-submit" (click)="saveBtn()">Save</button>
    </div>
</div>