<div class="modal-header">
    <h4 class="modal-title">Add Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeBtn()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 mt-2 text-right"><label>Name : </label></div>
        <div class="col-md-6">
            <input [(ngModel)]="form.name" class="form-control" placeholder="Enter Name" />
        </div>
    </div>
    <div *ngIf="submitted && !form.name" class="row p-0 mx-0">
        <div class="col-md-4"></div>
        <div class="col-md-6 error-text">Name is required !</div>
    </div>
</div>
<div class="modal-footer">
    <div class="p-0 col-md-2">
        <button type="button" class="btn btn-default" style="border: 1px solid #cccccc; width: 100%;" (click)="closeBtn()">Close</button>
    </div>
    <div class="p-0 col-md-2">
        <button type="button" class="btn-submit" (click)="saveBtn()">Save</button>
    </div>
</div>